<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<div id="layout" class="pure-g">
  <div class="content pure-u-1 pure-u-md-3-4">
    <div>
      <!-- A wrapper for all the blog posts -->
      <div class="posts">
        <h1 class="content-subhead">Blog Posts</h1>
        <span style="color: red">{{errorMessage}}</span>
        <!-- A single blog post -->
        <section class="post" *ngIf="singlePost">
          <header class="post-header">
            <h2 class="post-title" [innerHTML]="singlePost.title.rendered "></h2>
            <p class="post-meta">
              By <a href="https://thecodeangle.com/" target="_blank" class="post-author">The Code Angle</a> Date
              <a routerLink="/posts">{{singlePost.date | date:'short'}}</a>
            </p>
          </header>

          <div class="post-description">
            <p [innerHTML]="singlePost.content.rendered">
            </p>
          </div>
        </section>
      </div>

      <div class="footer">
        <div class="pure-menu pure-menu-horizontal">

          <div class="pure-menu-item"><a href="http://twitter.com/zeina_sadaldeen" class="pure-menu-link">Twitter</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
